*{
    background-image: linear-gradient(to right, blue, purple);
    
}
.bod{
    text-align:center;
}

.reg{
    color: orange;
    font-size: 45px;
    margin-left:400px;
}

.first{
    color:black;
    font-size: 35px;
}
.name{
    margin-left: 300px;
    margin-bottom: 10px;
    border-color: black;
    color: black;
    width: 250px;
    height: 25px;
}
.btn{
    margin-left: 300px;
    border-color: black;
    color: black;
    width: 260px;
    height: 30px;
    background-color: orangered;
    border-radius: 5px;
}

   


